@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(269deg, #b0762a, #8a8a8a, #b0762a, #8a8a8a);
    background-size: 800% 800%;
    animation: bgAnimation 10s ease infinite;
    -webkit-animation: bgAnimation 10s ease infinite;
    overflow: hidden;
}

h1 {
    margin-bottom: 50px;
    font-family: 'Orbitron', sans-serif;
    color: orange;
    text-shadow: 4px 4px 5px #000;
}

#cronometro {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#borderExt {
    width: 300px;
    height: 300px;
    position: absolute;
    border: 20px solid;
    border-color: black orange black orange;
    border-radius: 50%;
}

#borderExtOff {
    width: 350px;
    height: 350px;
    position: absolute;
    border: 20px solid;
    border-color: black orange black orange;
    border-radius: 50%;
}

.bdAnime {
    animation: borderAnimation 10s ease infinite;
    -webkit-animation: borderAnimation 10s linear infinite;
}

.bdAnimeOff {
    animation: borderAnimationOff 10s ease infinite;
    -webkit-animation: borderAnimationOff 10s linear infinite;
}

.pauseAnime {
    animation-play-state: paused;
}

#inter {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(190, 190, 190);
    flex-direction: column;
}

#visor {
    position: relative;
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px 30px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    background-color: black;
    color:aqua;
    font-family: monospace;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icon {
    cursor: pointer;
}

.icon img {
    width: 30px;
}

.disabledClick {
    pointer-events: none;
}

/* Body animation BG */
@-webkit-keyframes bgAnimation {
    0%{background-position:0% 44%;}
    50%{background-position:100% 57%;}
    100%{background-position:0% 44%;}
}
@keyframes bgAnimation {
    0%{background-position:0% 44%;}
    50%{background-position:100% 57%;}
    100%{background-position:0% 44%;}
}

@keyframes borderAnimation {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}
@-webkit-keyframes borderAnimation {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}

@keyframes borderAnimationOff {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(-180deg);}
    100%{transform: rotate(-360deg);}
}
@-webkit-keyframes borderAnimationOff {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(-180deg);}
    100%{transform: rotate(-360deg);}
}